@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

.main-title{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

body{font-family: 'Poppins', sans-serif;}

.fadeinleft {
    opacity:0;
    margin-left:-300px;
    max-width:100%;
}


.slideinleft {
    margin-left:-600px;
    max-width:100%;
}



.container-wrapper {}

.container-wrapper--blue {
    background-color: #00C9C8;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}


.container-callout { height: 100vh;
 background: url("../images/land.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;}

.opaque-overlay{position: absolute; top: 0; left:0; height: 100%; width: 100%; background-color:rgba(0, 0, 0, 0.5);  }

.quotes-container{}

.features-container{}

/*page-headers*/
.quotes .page-header {
    margin-bottom: 25px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*navbar */
.navalert-container {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: black;
}

.collapse{
   color: whitesmoke;
}
.navbar .navbar-toggler{border:0;}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*linebreak*/
.linebreak{width: 75px;
    height: 5px;
    border: 0;
    background-color: #487494;}

.linebreak-orange {background-color: #47817F}

.linebreak-short {
    width:35px;
    background-color: #47817F;
}

.linebreak--white {
    background-color: #47817F;
}

.jumbotron-header{color: whitesmoke; font-weight: bold; margin-bottom: 30px;}

.jumbotron{background-color: transparent;}

.jumbotron small {font-size: 60%; font-style: italic; color: #d0d0d0;}

.jumbotron.lead{margin: 25px 0;
    color: darkgray;}

.fa-hand-point-right:before {
    color: #00C9C8 !important;
    font-size: 30px !important;
}

.fa-hand-point-left:before {
    color: #00C9C8 !important;
    font-size: 30px !important;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #00C9C8;
    border-color: #82A0AA;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #BFFCF9;
    border-color: #BFFCF9;
    color: white;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

@media only screen and (max-width: 576px){
    .main-title{
        font-size: 30px;
    }
}